html {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  background-color: #8ADCB3;
}

body {
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(255, 255, 255, 0.85);
}

img {
  width: 6em;
  height: 6em;
}

.loading {
  height: 50em;
  line-height: 50em;
  text-align: center;
  width: 100%;
}

.loading img {
  width: 30px;
  height: 30px;
}

.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-img {
  width: 8em;
  height: 8em;
}

.main-container {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  margin: auto;
  margin-top: 3.2em;
  max-width: 500px;
  padding: 0;
  position: relative;
  width: 92%;
}

.main-container .row div {
  margin: 0;
  margin-top: -1em;
  padding: 0;
  width: 100%;
}

.main-icon-div,
.main-temp-div {
  text-align: center;
}

.city-tile {
  position: relative;
  width: 100%;
}

.refresh-wrapper {
  position: absolute;
  left: 88%;
  top: 0;
}

.refresh {
  color: rgba(255, 255, 255, 0.65);
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #8ADCB3;
  display: inline-block;
}

.refresh:focus {
  color: rgba(255, 255, 255, 0.6);
}

.refresh:visited {
  color: rgba(255, 255, 255, 0.6);
}

.refresh:hover {
  color: rgba(255, 255, 255, 0.6);
}

.temperatureMean {
  padding-left: 15px;
  margin-top: -10px;
  font-size: 4em;
  color: rgba(255, 255, 255, 0.5);
}

.temperatureMin {
  color: rgba(255, 255, 255, 0.95);
  margin-top: -15px;
  margin-left: -8px;
  padding-left: 15px;
  width: 100%;
}

.windSpeed {
  font-size: 90%;
  margin-top: 28px;
  padding-left: 15px;
}

.humidity {
  font-size: 90%;
  margin-top: 0.4em;
  padding-left: 15px;
}

.btn {
  display: block;
  margin-top: 0.8em;
}

.weather-span {
  display: block;
}

.seven-day-container {
  margin: 0.8em 0;
  padding: 0;
  width: 100%;
  font-size: 0.7em;
}

.nav-tabs {
  margin: 0;
  margin-bottom: 15px;
  max-width: 500px;
  padding: 0;
  width: 100%;
}

.nav-tabs li {
  font-size: 14px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: auto;
  width: 14.28%;
}

.nav-tabs li a {
  color: rgba(255, 255, 255, 0.9);
  margin: 0 4px;
  padding: 15px 10px;
  padding-bottom: 5px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
  box-shadow: inset 0 -2px 0 #fff;
  color: #fff;
}

.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover {
  box-shadow: inset 0 -2px 0 #fff;
  color: #fff;
}

.seven-day-container {
  margin-top: 2.8em;
}

.seven-day-title {
  font-size: 26px;
  margin-bottom: -0.2em;
}

.seven-day-info-container {
  font-size: 1.2em;
  margin: 0.8em 0;
  padding: 0;
  width: 100%;
}

.seven-day-temperature {
  display: inline-block;
  font-size: 1.4em;
  margin-left: 15px;
}

.seven-day-summary {
  margin-top: 15px;
}

.zip-container {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  width: 100%;
}

.zip-input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  display: inline-block;
  float: left;
  width: 70px;
}

.zip-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.zip-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.zip-input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.zip-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input[type=text] {
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  box-shadow: none;
  color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: none;
  margin-right: 10px;
}

input[type=text]:focus {
  border-bottom: solid 1px rgba(255, 255, 255, 0.9);
  box-shadow: none;
  -webkit-box-shadow: none;
}

.zip-button {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #8ADCB3;
  display: inline-block;
  float: left;
  margin-top: -2px;
  text-align: center;
  vertical-align: middle;
}

.zip-button:hover {
  background-color: rgba(231, 231, 231, 0.5);
}

@media (max-width: 358px) {
  .temperatureMean {
    font-size: 3em;
    margin-left: 6px;
    margin-top: 8px;
  }
  .temperatureMin {
    margin-left: -2px;
  }
  .windSpeed {
    font-size: 0.8em;
  }
  .humidity {
    font-size: 0.8em;
  }
  .nav-tabs li {
    font-size: 14px;
  }
  .nav-tabs li a {
    margin: 0;
    padding: 5px 5px;
  }
}
